h1 {
    text-align: center;
    font-size: 72px;
    font-family: sans-serif;
    color: aquamarine;
}

ul {
    color: gray;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 55px;
}

form {
    text-align: center;
}